article
    h2 The Basics

    table
        thead
            tr
                th Command
                th
        tbody
            tr
                td /join #channel
                td Joins the specified channel.

            tr
                td /part #channel
                td Leaves the specified channel.

            tr
                td /quit [message]
                td Disconnects from current server with optional leaving message.

            tr
                td /server hostname
                td Connects to the specified server.

            tr
                td /list
                td Lists all channels on the current network.

            tr
                td /links
                td Lists all servers on the current network. May be disabled "for security reasons".

            tr
                td /nick nickname
                td Changes your nick.

            tr
                td /names #channel
                td Shows the nicks of all users on #channel.

            tr
                td /msg nickname message
                td Sends a private message to a user.

            tr
                td /query nickname message
                td Sends a private message to a user and opens a private chat window.

            tr
                td /me action
                td Prints "yourname action"

            tr
                td /notice nickname message
                td Sends a notice to the specified user. Like a /msg, but usually makes a sound.

            tr
                td /whois nickname
                td Shows information about the specified user. This action is not visible to the specified user.

            tr
                td /whowas nickname
                td Shows information about a user who has quit.

            tr
                td /dns nickname
                td Attempts to resolve the IP address of the specified user. Doesn't work on all networks, doesn't work all the time.

            tr
                td /ping nickname
                td Pings the specified user. This action is visible to the specified user.
