article
    h2 Nick Management (NickServ)
    p All NickServ commands begin with /msg NickServ but this server has /ns shortcut.

    table
        thead
            tr
                th Command
                th
            tr
                td /ns register password [email]
                td Registers your current nick with NickServ (optional).

            tr
                td /ns identify password 
                td Identifies your nick to NickServ using the password you set.

            tr
                td /id password 
                td Identifies your nick to NickServ using the password you set.

            tr
                td /ns recover nickname password
                td Kills someone who has your registered nick.

            tr
                td /ns ghost nickname password
                td Terminates a "ghost" IRC session that's using your nickname.

            tr
                td /ns set password yournewpassword
                td Changes your password.

