article
    h2 User Modes
    table
        thead
        tr
            th Mode
            th Effect
        tbody
        tr
            td i
            td User cannot be seen in /WHO
        tr
            td w
            td User can receive WALLOPS
        tr
            td x
            td User host ist cloak
        tr
            td o
            td User is an IRC Operator