div(class="box")
    p(style="margin-bottom: 10px;") Connect with IRC client:
        ul
            li
                strong gooseswell.mooo.com:6667
                span (unencrypted connection)
            li
                strong gooseswell.mooo.com:6697 +SSL
                span(style="color: green;") (secure connection)