nav
    ul
        li(class="webirc")
            a(href="https://kiwiirc.com/nextclient/gooseswell.mooo.com:+6697/?nick=mooo%7C?#MoooNET" target="_blank") Open in Web chat

        li
            a(href="/basics.html") The Basics

        li
            a(href="/nickserv.html") NickServ

        li
            a(href="/chanserv.html") ChanServ

        li
            a(href="/user_modes.html") User Modes

        li
            a(href="/channel_modes.html") Channel Modes

        li
            a(href="/more.html") More

        li
            a(href="/idlerpg.html") Idle RPG (GAME)

        li(class="indexBtn")
            a(href="/") Server